@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
* {
  font-family: "Poppins", sans-serif;
}

:root {
  --orange: #ff8303;
  --prime: #faefe5;
  --white: #fff;
  --bright-orange: #ffa500;
  --light-yellow: #dcffef;
}

body::before {
  display: block;
  content: "";
  height: 80px;
}

button {
  box-shadow: none !important;
  border: none !important;
}

input,
textarea {
  box-shadow: none !important;
}

input:focus,
textarea:focus {
  border: 2px solid #444 !important;
}

.italic {
  font-family: "Pacifico", cursive;
}

.mh-80 {
  min-height: 80vh !important;
}

.bg-orange {
  background-color: var(--orange) !important;
}

.mb-6 {
  margin-bottom: 5rem !important;
}

/* font weights */
.fw-100 {
  font-weight: 100;
}
.fw-300 {
  font-weight: 300;
}
.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

/* NAVBAR STYLING */
nav {
  height: 80px;
}

.bg-nav {
  background-color: var(--prime);
}

.nav-link {
  font-size: 1.1rem;
  font-weight: 500;
  color: #333 !important;
}

.nav-link.active {
  color: var(--orange) !important;
  border-bottom: 3px solid var(--orange);
}

.nav-link:hover {
  color: var(--orange) !important;
}

.navbar-brand {
  max-height: 80px;
  max-width: 80px;
}

/* toggler navbar */
.toggler-div {
  width: 27px;
  height: 2px;
  border-radius: 10px !important;
  background-color: #555;
  margin: 6px 0;
  transition: 300ms ease-in-out;
}

.toggler-div.md {
  width: 29px;
}

.toggler-div.lg {
  width: 32px;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-10px, -6px);
}

/* header */
header {
  height: 70vh;
}

.bg-header {
  background-color: var(--prime);
}

.bg-bright-orange {
  background-color: var(--bright-orange);
}

.bb-prime {
  display: inline-block;
  padding-bottom: 10px;
  border-bottom: 4px solid var(--bright-orange);
}

.icon-img {
  height: 100px;
  width: 100px;
}

/* testimonial */
.bg-light-yellow {
  background-color: var(--light-yellow);
}

.profile-img {
  height: 80px !important;
  width: 80px !important;
}

.double-quote {
  font-size: 4rem;
  font-weight: 600;
  color: var(--orange);
}

/* Floating Animation */
.floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  filter: drop-shadow(8px 8px 10px #fff);
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 18px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

/* Footer */
footer h5 {
  padding-bottom: 4px;
  border-bottom: 3px solid var(--bright-orange);
}
footer a {
  text-decoration: none !important;
  color: #333;
}

footer a:hover {
  color: var(--orange);
}

/* Back to top */
#back-to-top {
  display: none;
  position: fixed;
  bottom: 16px;
  right: 20px;
  z-index: 99;
  padding: 16px 18px;
  border: none;
  outline: none;
  border-radius: 50%;
  cursor: pointer;
}

.btn {
  cursor: pointer;
  transition: transform 300ms ease-in-out;
}

.btn:hover {
  transform: scale(0.96) !important;
}

/* blog img */
.blog-img {
  height: 300px !important;
  width: 100%;
  object-fit: cover;
  border-radius: 8px 8px 0px 0px !important;
}

.rounded-5 {
  border-radius: 10px !important;
}

@media (max-width: 768px) {
  header {
    height: 40vh;
  }
}
